# Python files
*.pyc
__pycache__/

# Virtual environment
venv/

# IDE config files
.idea/
.vscode/

# Environment variables
.env

# Logs
*.log
git add .
git commit -m "Added README.md and .gitignore"
git remote add origin https://github.com/vikrantcool100/Hulkbot.git
git branch -M main
git push -u origin main
